streamlit
pypdf2
langchain
python-dotenv
faiss-cpu
huggingface_hub
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
langchain-community
unstructured
tiktoken
pinecone-client
pypdf
openai
langchain
pandas
numpy
python-dotenv
langchain-community
huggingface_hub
InstructorEmbedding
torch
sentence-transformers==2.2.2
langchain-pinecone==0.0.3
flask
torch
transformers
sentence-transformers
